#passages {
	/* This only affects passages */
	padding: 10px;
	background: rgba(0,0,0,0.75);
}

#ui-bar {
	background: rgba(20,20,20,0.9); 
}

#fsyoutube {
	position:absolute;top:0px;left:0px;z-index:-100;
}

